// COLOR SYSTEM

// Primary
$yellow: #FFD336;
$navy: #1A3966;
$darkblue: #1A3047;

// Secondary
$gray: #0C2122;
$purple: #202552;
$blue: #024BA1;
$tif: #258E9F;
$lightblue: #59A3AF;
$gold: #F7B518;

// TEXT SYSTEM
